# pycache
__pycache__/
scraper/__pycache__/
logging/__pycache__/

# Environment variables
.env

# Virtual environment
.venv

# Company matching data
scraper/data

# Structure files for development
scraper/structure

# Log files
logfile.log
log/log.jsonl  

# Testing commands
test/test_commands.sh

# Scrap code
scraper/scrap.py

# TODO list
todo.md

# Unique_companies
unique_companies.py

