# pycache
__pycache__/

# Environment variables
.env

# Virtual environment
.venv

# Company matching data
scraper/data

# Log files
logfile.log

# Testing commands
test/test_commands.py

# Scrap code
scraper/scrap.py

# TODO list
todo.md

# Unique_companies
unique_companies.py

.gitignore

