# pycache
**/__pycache__/

# Environment variables
.env

# Virtual environment
.venv

# Company matching data
**/data
temp/
**/glassdoor_query.py

# Structure files
**/structure

# Log files
**/log.jsonl*

# Testing
test/
pyproject.toml
.pytest_cache/

# Scrap code
**/scrap.py
**/multi.py

# TODO list
todo.md

# Database output
output/

